<footer class="primary">
    <div fxLayout="row-reverse">
        <div fxFlex>
            rest
        </div>
        <div fxFlex="40">
            <ul>
                <li>
                    <a mat-raised-button color="warn" href="https://material.angular.io/components/categories" target="_blank">Angular material</a>
                </li>
                <li>
                    <a mat-raised-button color="warn" href="https://material.io/icons/" target="_blank">Angular Icons</a>
                </li>
                <li>
                    <a mat-raised-button color="warn" href="https://github.com/angular/flex-layout" target="_blank">Angular flex</a>
                </li>
                <li>
                    <a mat-raised-button color="warn" href="https://github.com/angular/angularfire2" target="_blank">Angular fire</a>
                </li>
                <li>
                    <a mat-raised-button color="warn" href="https://console.firebase.google.com/project/soccer-data/" target="_blank">Firebase</a>
                </li>
                <li>
                    <a mat-raised-button color="warn" href="" target="_blank"></a>
                </li>
                <li>
                    <a mat-raised-button color="warn" href="https://api.football-data.org/" target="_blank">football-data.org</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
